img{
    width:300px;
    height:300px;
    border-radius: 50%;
    position: relative;
}
.item{
    background:#e6a3cc ;
    width:300px;
    height:300px;
    margin:5px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    justify-content: space-evenly;
    background: radial-gradient(circle closest-corner at 500px 500px,#EFABFF,#c93774, #792e60);
}
p{
    background-color: #985277;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}
.container-body{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    justify-content: space-evenly;
    background: radial-gradient(circle closest-corner at 500px 500px,#EFABFF,#792e60,#c93774);
}
.container-etude{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    justify-content: space-evenly;
    background: radial-gradient(circle closest-corner at 500px 500px,#792e60,#c93774, #421f49);
}
.container-passion{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    justify-content: space-evenly;
    background: radial-gradient(circle closest-corner at 500px 500px,#c93774,#43214b, #792e60);
}
.item-3{
    background:#e6a3cc ;
    width:100px;
    height:100px;
    margin:5px;
}

