    body{
        background: #EFABFF;
        ;
    }
    .container{
        width: 500px;
        height: 500px;
    }
    img{
        width:100px;
        height:100px;
        border-radius: 50%;
    }
    .contact{
        margin-bottom: 30px;
        position: initial;
        padding: 30px;

    }