    body{
        background: #EFABFF;
    }
    img{
        width:200px;
        height:200px;
        border-radius: 50%;
    }
    .item{
        background:#EDA2F2;
        width:500px;
        height:80px;
        margin-left:100px;
        margin-top: 20px;
        padding: 2px;
    }
    .header{
        margin-top: Opx;
        display:flex;
        align-items: self-start;
    }