    body{
        background: #eac1f3;
        display: flex;
        align-items: center;
    }
    .header{
        margin-top: Opx;
        display:flex;
        align-items: self-start;
    }
    img{
        width:200px;
        height:200px;
        border-radius: 50%;
        position: relative;
    }
    .item{
        background:#EDA2F2;
        width:500px;
        height:100px;
        margin: 5px
    }
    .me{
        background: #EDA2F2;
        position: initial;
        width:500px;
        height:80px;
        margin-left:250px;
        margin-top: 0px;
        padding: 20px;
        margin-bottom: 30px;
    }
    .item-1{
        background:#cc5dd4;
        width:500px;
        height:80px;
        margin-left:100px;
        margin-top: 20px;
        padding: 2px;
        position: relative;
        display:flex;
        flex-wrap: wrap;
        flex-direction:reverse;
        align-items: center;
        justify-content: space-evenly;
    }
